@charset "utf-8";

body{
	background-color: #353535;
}

#tabla {

	width: 81%;

	right: auto;

	left: auto;

	margin-left: auto;

	margin-right: auto;

	margin-top: 5%;

	margin-bottom: 56px;

}

#tabla #traccion {

	width: 80%;

	margin-left: auto;

	margin-right: auto;

	float: none;

	vertical-align: middle;

	text-align: center;

	align-content: center;

	margin-bottom: 0px;

}

#servos {

	width: 80%;

	margin: auto;

	vertical-align: middle;

	text-align: center;

}





.boton {

	background-color: #4CAF50;

	width: 100%;

	border: none;

	color: white;

	text-align: center;

	text-decoration: none;

	font-size: 15px;

	cursor: pointer;

	margin: 2px 2px 2px 2px;

	height: 60px;

}


.botonrojo {

	background-color: #E7354B;

	width: 100%;

	border: none;

	color: white;

	padding: 15px;

	text-align: center;

	text-decoration: none;

	display: inline-block;

	font-size: 15px;

	margin: 2px 2px 2px 2px;

	cursor: pointer;

	height: 60px;

}

#tabla #traccion #arriba {

	width: 33%;

	margin-left: auto;

	margin-right: auto;	

}

#traccion #medio #izquierda {

	float: left;

	width: 33.33%;

}

#tabla #traccion #medio {

	width: 100%;

}







#traccion #medio #centro {

	float: left;

	width: 33.33%;

}

#traccion #medio #derecha {

	float: right;

	width: 33.33%;

}



#tabla #traccion #abajo {

	width: 33.33%;

	margin-left: auto;

	margin-right: auto;	

}

#servos #horizontal {

	align-content: center;

	vertical-align: middle;

	width: 100%;

	align-items: center;

	margin-right: auto;

	margin-left: auto;

	float: left;

	margin-top: -46px;

}

#servos #horizontal form {

	vertical-align: middle;



}





#ageInputId2 {

	-webkit-appearance: none;

	width: 100%;

	margin-top: 5px;

	margin-right: 0;

	margin-left: 0;

	margin-bottom: 37.5px;

	float: left;

}

#ageInputId2:focus {

  outline: none;

}

#ageInputId2::-webkit-slider-runnable-track {

  width: 100%;

  height: 15px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId2::-webkit-slider-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 70px;

  width: 30px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  -webkit-appearance: none;

  margin-top: -19.5px;

}

#ageInputId2:focus::-webkit-slider-runnable-track {

  background: rgba(0, 196, 0, 0.67);

}

#ageInputId2::-moz-range-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId2::-moz-range-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

}

#ageInputId2::-ms-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  background: transparent;

  border-color: transparent;

  color: transparent;

}

#ageInputId2::-ms-fill-lower {

  background: rgba(0, 2, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId2::-ms-fill-upper {

  background: rgba(0, 99, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId2::-ms-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  height: 11px;

}

#ageInputId2:focus::-ms-fill-lower {

  background: rgba(0, 99, 0, 0.67);

}

#ageInputId2:focus::-ms-fill-upper {

  background: rgba(0, 196, 0, 0.67);

}





#ageInputId {

	-webkit-appearance: none;

	width: 100%;

	margin-top: 5.5px;

	margin-right: 0;

	margin-left: 0;

	margin-bottom: 38.5px;

	float: left;

}

#ageInputId:focus {

  outline: none;

}

#ageInputId::-webkit-slider-runnable-track {

  width: 100%;

  height: 15px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId::-webkit-slider-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 70px;

  width: 30px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  -webkit-appearance: none;

  margin-top: -19.5px;

}

#ageInputId:focus::-webkit-slider-runnable-track {

  background: rgba(0, 196, 0, 0.67);

}

#ageInputId::-moz-range-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId::-moz-range-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

}

#ageInputId::-ms-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  background: transparent;

  border-color: transparent;

  color: transparent;

}

#ageInputId::-ms-fill-lower {

  background: rgba(0, 2, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId::-ms-fill-upper {

  background: rgba(0, 99, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId::-ms-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  height: 11px;

}

#ageInputId:focus::-ms-fill-lower {

  background: rgba(0, 99, 0, 0.67);

}

#ageInputId:focus::-ms-fill-upper {

  background: rgba(0, 196, 0, 0.67);

}



#ageInputId3 {

	-webkit-appearance: none;

	width: 100%;

	margin-top: 5.5px;

	margin-right: 0;

	margin-left: 0;

	margin-bottom: 38.5px;

	float: left;

}

#ageInputId3:focus {

  outline: none;

}

#ageInputId3::-webkit-slider-runnable-track {

  width: 100%;

  height: 15px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId3::-webkit-slider-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 70px;

  width: 30px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  -webkit-appearance: none;

  margin-top: -19.5px;

}

#ageInputId3:focus::-webkit-slider-runnable-track {

  background: rgba(0, 196, 0, 0.67);

}

#ageInputId3::-moz-range-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

  background: rgba(0, 99, 0, 0.67);

  border-radius: 0px;

  border: 0px solid #000001;

}

#ageInputId3::-moz-range-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

}

#ageInputId3::-ms-track {

  width: 100%;

  height: 11px;

  cursor: pointer;

  background: transparent;

  border-color: transparent;

  color: transparent;

}

#ageInputId3::-ms-fill-lower {

  background: rgba(0, 2, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId3::-ms-fill-upper {

  background: rgba(0, 99, 0, 0.67);

  border: 0px solid #000001;

  border-radius: 0px;

  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;

}

#ageInputId3::-ms-thumb {

  box-shadow: 0px 0px 0px #000031, 0px 0px 0px #00004b;

  border: 0px solid rgba(0, 0, 0, 0);

  height: 50px;

  width: 28px;

  border-radius: 50px;

  background: #00bfff;

  cursor: pointer;

  height: 11px;

}

#ageInputId3:focus::-ms-fill-lower {

  background: rgba(0, 99, 0, 0.67);

}

#ageInputId3:focus::-ms-fill-upper {

  background: rgba(0, 196, 0, 0.67);

}







.card {

  background: #fff;

  border-radius: 2px;

  display: inline-block;

  height: 300px;

  margin: 1rem;

  position: relative;

  width: 300px;

}



.card-1 {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}



.card-1:hover {

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}



.card-2 {

  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}



.card-3 {

  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}



.card-4 {
	background-color: #FFFFFF;
	border-radius: 100%;
	display: inline-block;
	height: 240px;
	margin: 1rem;
	float: left;
	width: 240px;
}

.card-41 {
	border-radius: 100px;
	display: inline-block;
	height: 200px;
	float: left;
	width: 100%;
	margin-top: -5%;
}


.estilocultar {
	display: inline-block;
	float: left;
	width: 50%;
}

.funcionales{
	float: left;
	padding-left: 7%;
	margin-top: -2%;
	text-align: left;
	width: 50%;
	display: inline-block;
}

.card-44 {

background-color: #053576;
	border-radius: 2px;
	display: inline-block;
	height: 170px;
	margin: 1rem;
	float: right;
	width: 45%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	
}

.grid-botones {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
	
	width: 45%;
}
.grid-item {
  padding: 20px;
  text-align: center;
}

.card-5 {

  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

}

.joyss {
	background-color: #143D7B;
	width: 50%;
	height: 200px;
	float:left;

}

.infoo {
	color: #353535;
	width: 5%;
	height: 20px;
	float: left;
	align-content: center;
	
}

.infoo2 {

	width: 50%;
	height: 20px;
	float: right;
}

.ocultar{
	width: 10%;
	float: right;
	margin-right: 10%;
	align-content: center;
	margin-top: -2%;
}

input[type="range"] {
    -webkit-appearance: none;
}

#slider2 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
	background-color: #9F9F9F;
}
#slider2::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f44336;
  border: 0.25rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}

#slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 10rem;
  height: 0.25rem;
  outline: none;
  border-radius: 0.25rem;
	background-color: #9F9F9F;
}
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #f44336;
  border: 0.25rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}

#servxs {
	margin: auto;
	vertical-align: middle;
	text-align: center;
}

.deslizador {
	
	align-content: center;
	float: right;
	margin-right: 5%;
}

.deslizador2 {
	
	align-content: center;
	float: left;
	margin-left: 5%;
}

#velocidadid{
	display: none;
}

.foco{
	margin-top: -45%;
}